

body{


    margin:0px;
    padding:0px;
    
    
    background-color:beige;
}

#exemplo1{

    background-size: cover;
background-color: gray;

border-radius: 2px;

margin-left:300px;
margin-right:300px


}



#exemplo1 h1{

    margin-left: 300px;
    font-family:Arial Black, Helvetica, sans-serif;
}



#exemplo1 h3{

    margin-left: 300px;
    font-family:Arial Black, Helvetica, sans-serif;
}



#exemplo1 input{

    border-radius: 5px;
    margin-left: 300px;
    font-family:Arial Black, Helvetica, sans-serif;
}



#exemplo1 p{

    margin-left: 300px;
    font-family:Arial Black, Helvetica, sans-serif;
}


#exemplo1 button{

    background-color:;
    margin-left: 300px;
    margin-top:5px;
    font-family:Arial Black, Helvetica, sans-serif;
    border-radius: 10px;
}




#exemplo2{

    background-size: cover;
background-color: gray;

border-radius: 2px;

margin-left:300px;
margin-right:300px

}




#exemplo2 h3{

margin-top:5px;
margin-left:300px;
margin-bottom: 80px;
}


#exemplo2 button{

    background-size: cover;
background-color: green;

margin-bottom: 80px;
margin-left:10px;
}



#exemplo3{

    background-size: cover;
background-color: gray;

border-radius: 2px;

margin-left:300px;
margin-right:300px

}


#exemplo3 input{


border-radius: 5px;
margin-left:300px;
margin-right:300px

}


#exemplo3 p{

  

margin-left:300px;
margin-right:400px

}



#exemplo3 h3 {

  
  margin-left: 150px;
    
    }

    
.bt3{

  
    margin-left: 300px;
      
      


}
    



    #ex1{

        
    background-size: cover;
    background-color: gray;
    
    border-radius: 2px;
    

  
margin-left:300px;
margin-right:300px
}


.ex1 input{

border-radius: 6px;

margin-left:300px;


}


.ex1 button{


    
    margin-left:300px;
    
    
    }

    
.ex1 h3{



    margin-left:200px;
    
    
    }

    
.ex1 li{



    margin-left:300px;
    
    
    }